<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Exclusive Clubhouse</title>
</head>
<body>

  <div class="all-container">

  <nav class="navbar">
    <h2 class="logo">Clubhouse</h2>

    <div class="nav-right">
      <% if (currentUser) { %>
        <div class="dropdown">
          <button class="dropbtn">
            <%= currentUser.firstName %> ⌄
          </button>

          <div class="dropdown-content">

            <div class="dropdown-user">
              <strong>
                <%= currentUser.firstName + " " + currentUser.secondName %>
              </strong>
            </div>

            <% if (!currentUser.isMember) { %>
              <button class="dropdown-btn" onclick="toggleMember()">Join Club</button>
            <% } %>

            <% if (currentUser.isMember && !currentUser.isAdmin) { %>
              <button class="dropdown-btn" onclick="toggleAdmin()">Become Admin</button>
            <% } %>

            <a href="/logout" class="dropdown-link">Logout</a>

          </div>
        </div>

      <% } else { %>
        <a href="/login" class="nav-btn">Login</a>
        <a href="/signup" class="nav-btn">Sign Up</a>
      <% } %>
    </div>
  </nav>



  <% if (currentUser) { %>

    <div id="memberForm" class="popup">
      <form method="POST" action="/join-club">
        <input type="password" name="passcode" placeholder="Enter Club Passcode">
        <button>Submit</button>
      </form>
    </div>

    <div id="adminForm" class="popup">
      <form method="POST" action="/make-admin">
        <input type="password" name="secret" placeholder="Enter Admin Secret">
        <button>Submit</button>
      </form>
    </div>

  <% } %>



  <div class="container">

    <a href="/new-message" class="new-message-btn" >New Message</a>
    
    <% messages.forEach(message => { %>

      <div class="card">
        <h3><%= message.title %></h3>
        <p><%= message.text %></p>

        <% if (currentUser && currentUser.isMember) { %>
          <small>By : <%= message.author.firstName + " " + message.author.secondName %></small><br>
          <small>Created At : <%= message.createdAt.toDateString() %></small>
        <% } %>

        <% if (currentUser && currentUser.isAdmin) { %>
          <form method="POST" action="/delete/<%= message._id %>">
            <button class="delete-btn">Delete</button>
          </form>
        <% } %>

      </div>

    <% }) %>
  </div>
 

  <script>
    function toggleMember() {
      document.getElementById("memberForm").classList.toggle("show");
    }

    function toggleAdmin() {
      document.getElementById("adminForm").classList.toggle("show");
    }
  </script>
  
  </div>
</body>
</html>
